@import "normalize.css";
@import "log.css";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /*background-color: rgb(30, 30, 95);*/
  background-color:#30383B;
  font-family: "Open Sans", sans-serif;
}

.delete-btn{
  outline: none;
  cursor: pointer;
}

#addTodoListDiv{
  margin-left: 2.5%;
  width: 95%;
  margin-top: 1em;
  max-width: 400px;
}

#addTodoListDiv button{
  /* margin-left: 2.5%; */
}


#root{
  margin: 1em;
  /*border: 1px solid grey;*/
  display: flex;
  min-width: 1200px;
}


.todoList{
  position: relative;
  border-radius: 4px;
  min-height: 100px;
  background: rgb(235, 235, 235);
  padding: 0.7em;
  margin: 1em 0 1em 2.5%;

  float: left;
  min-width: 300px;

  overflow: scroll;
  height: 80vh;
}

.todoList h2{
  font-size: 1em;
  margin-bottom: 0.5em;
}

#to-do-list-button{
  /* margin-left: 0.5em; */
}

.card{
  /*border: 1px solid blue;*/
  border-radius: 4px;
  border-bottom: rgb(180, 180, 180) 1px solid;
  background: white;
  margin: 0.5em 0 0 0;
  padding: 0.5em;
  font-size: 0.9em;
  position: relative;

  display: flex;
  justify-content: space-between;

  cursor: pointer;
}

.card button{
  visibility: hidden;
  height: max-content;

  background: none;
  border: none;
  padding: 0.3em;
  
}


.card:hover button{
  visibility: visible;
}

.card button:hover{
  background-color: rgb(235, 235, 235);
  border-radius: 4px;
  cursor: pointer;
}


.menuContainer{
  display: flex;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.menu{
  top: 0;
  left: 0;
  background-color: rgb(235, 235, 235);
  width: 500px;
  min-height: 300px;

  margin: auto;

  padding: 1em;
  border-radius: 4px;
  
}

.menuTitle{
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.menuDescription{
  margin-bottom: 2em;
  line-height: 1.5em;
}

.menuDescription textarea{
  width: 100%;
  height: 5em;
  padding: 0.5em;
  font-size: 1.1em;
}



.comment{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.8em;
}

.commentsInput{
  margin-right: 0.5em;
}

.btn-save{
  background-color: #D78D1E;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 0.5em;
  
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  width: 25px;
  height: 25px;
}

/* .delete-btn {
  width: 150px;
  height: 150px;
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #000;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -75px;
  position: absolute;
  display: block;
  z-index: 200;
  text-indent: -9999px;
} */
.delete-btn:before,
.delete-btn:after {
  content: '';
  width: 55%;
  height: 2px;
  background: red;
  position: absolute;
  top: 48%;
  left: 22%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.delete-btn:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.delete-btn:hover:before,
.delete-btn:hover:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hide {
  display: none;
}


/* login */
.signup input {
  padding: .3rem .5rem;
  border: 0;
  border-radius: 5px;
  margin: .5rem 0 1rem 0;
}
.signup label {
  color: #F2B11B;
  font-size: 1rem;
}
.signup h2 {
  margin-bottom: 2rem;
  color: #D78D1E;
}
.btn{
  background-color: #D78D1E;
  color: #F2F2F2;
}
.btn-auth{
  padding: .7rem .5rem;
  border-radius: 5px;
  border: none;
  background-color: #d7c5ab;
  color: #F2F2F2;
}
.btn-other{
  height: 40px;
  border: none;
  border-radius: 5px;
}
.btn-other img{
  /* transform: scale(); */
}
.btn--third{
  background-color: transparent;
}

/* projecten */
header h1{
  width: 95%;
  margin: .5rem auto 1rem auto;
  color: #c58018;
  font-size: 1.7rem;
}
.prjDiv{
  width: 95%;
  margin: 1rem auto;
  background-color: #585a5b;
  padding: .7rem;
  border-radius: 10px;
  cursor: pointer;
}
.prjDiv h2{
  font-size: 2rem;
  color: #D78D1E;
  margin-bottom: .3rem;
}
.prjDiv h3 {
  color: #F2F2F2;
  font-size: .7rem;
  margin-bottom: .5rem;
}
.prjDiv p{
  color: #F2F2F2;
}
.actionBtnDiv{
  display: flex;
  width: 95%;
  margin: 0 auto;
  gap: 1rem;
}
.actionBtn{
  width: 40%;
  height: 30px;
  max-width: 200px;
  border-radius: 5px;
  border: none;
  transition: .5s;
}
/* add project */
.addProjectFormDiv{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(48, 56, 59, .9);
}
.addProjectForm{
  width: 95%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addProjectForm input{
  border: none;
  padding: .4rem ;
  margin: .5rem 0;
}
.addProjectForm h2{
  color: #D78D1E;
  margin-bottom: .5rem;
}
.addPrjBtn{
  margin-top: .5rem;
  width: 50%;
  border: none;
  height: 30px;
  border-radius: 5px;
}
.cancelPrjBtn{
  background-color: #a06a19;
}


/* subtask */
.header__sub{
  display: flex;
  gap: 1rem;
  width: 95%;
  margin: 0 auto;
  align-items: center;
}
.btnBack{
  width: 20px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: #D78D1E;
  font-size: 1rem;
}
.descriptionDiv{
  width: 95%;
  margin: 0 auto 2rem auto;
  border-bottom: 2px solid #1d2224;
  padding-bottom: 2rem;
}
.descriptionDiv h2{
  font-size: 2.5rem;
  margin: 2rem 0 .3rem 0;
  color: #F2F2F2;
}
.descriptionDiv h3{
  font-size: .9rem;
  margin: 0rem 0 .5rem 0;
  color: #d7d7d7;
}
.descriptionDiv p {
  margin-top: 2rem;
  color: #F2F2F2;
}
.bold{
  text-transform: uppercase;
}
.subtitle{
  width: 95%;
  margin: 0 auto;
  color: #D78D1E;
}
.subTaskDiv{
  width: 95%;
  margin: 0 auto;
}
.subTaak{
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid #2a3032;
}
.subTaskDiv h2{
  font-size: 1.5rem;
  margin: 2rem 0 .3rem 0;
  color: #e0e0e0;
}
.subTaskDiv h3{
  font-size: .8rem;
  margin: 0rem 0 .5rem 0;
  color: #9b9b9b;
}
.subTaskDiv p {
  margin-top: 1rem;
  color: #c6c6c6;
}
.titleToDo{
  width: 95%;
  margin: 2rem auto 0 auto;
  color: #F2F2F2;
}